.image-animated {
    animation: image-fade-in linear forwards;
    animation-timeline: view();
    animation-range: 0 20%;
}

@keyframes image-fade-in {
    from {
        scale: 0.8;
        opacity: 0;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}
