.title-animated {
    &--left {
        margin-left: 100%;
        animation: title-left linear forwards;
        animation-timeline: view();
        animation-range: 0 40%;
    }

    &--right {
        margin-right: 100%;
        animation: title-right linear forwards;
        animation-timeline: view();
        animation-range: 0 40%;
    }
}


@keyframes title-left {
    from {
        opacity: 0;
    }
    to {
        color: $blue;
        margin-left: 0;
        opacity: 1;
    }
}

@keyframes title-right {
    from {
        opacity: 0;
    }
    to {
        color: $purple;
        margin-right: 0;
        opacity: 1;
    }
}
