// COLORS
$blue: #b3c2f7;
$purple: #d0b3f7;
$white: #ffffff;
$black: #000000;

// FONT
$title-font-family: 'Monospace', sans-serif;
$main-title-size: 60px;
$content-title-size: 40px;
$content-size: 20px;
